{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3,
        "targets": {
          "browsers": [
            "last 2 versions",
            "not dead",
            "not < 2%"
          ]
        },
        "modules": "auto"
      }
    ]
  ],
  "sourceType": "unambiguous",
  "env": {
    "development": {
      "sourceMap": true
    }
  }
}